joblib==1.5.3
lightgbm==4.6.0
numpy==1.26.4
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049137378/work
pandas==2.3.3
pyarrow==16.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.8.0
scipy==1.17.0
setuptools==80.10.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.3
wheel==0.46.3

